body {
  padding-top: 70px;
}
body .search-row {
  margin-bottom: 20px;
}
body .search-row table {
  width: 100%;
}
body .searchfield {
  height: 80px;
}
body .searchfield-info {
  vertical-align: top;
}
body form .table input, body form .table select {
  width: 100%;
}
body .table.table-borderless td {
  border: none !important;
}
body .table.table-nomargin {
  margin: 0 !important;
}
body .vertical-middle {
  vertical-align: middle !important;
}
body .modal-dialog th {
  width: 42%;
}
